body{
        border-radius: 10px; border-color: rgb(226, 43, 162);
    border-style: solid;


  background-image: url('imagen/imagen2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

      nav {
    font-weight: 900;
    width: auto;
    height: 70px;
    background-color: rgb(159, 93, 149);
    display: flex;              /*  alinea todo en fila */
    align-items: center;        /*  centra verticalmente */
    justify-content: space-between; /*  GIMI a la izquierda, enlaces a la derecha */
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;              /*  pone los li en fila */
    align-items: center;
    gap: 20px;                  /* espacio entre enlaces */
    color: aliceblue;
}

ul li a {
    color: white;
    text-decoration: none;
}